html {
  width: 100%;
  height: 100%;
  background-color:darkgrey;
  text-align: center;
  user-select: none;
}

.NavBar {
  display: flex;
  justify-content: flex-end;
}

.logo {
  background-image: url("./images/codelog3.png");
  width: 46px;
    height: 46px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: 6px;
}

.logForm {
  display: inline-block;
}

form {
  display: table;
}
label {
  display: table;
}

input {
  display: table;
}

ul {
  list-style-type: none;
}

li {
  float: left;
  color: lightgray;
  padding-right: 15px;
}

