html {
  width: 100%;
  height: 100%;
  background-color:darkgrey;
  text-align: center;
  user-select: none;
}

.NavBar {
  width: 100%;
  height: 60px;
  background-color: black;
  display: grid;
  place-items: center;
  margin-bottom: 25px;
}

.home {
  align-content: center;
  text-align: center;
}

.home-box {
  margin-top: 80px;
  align-content: center;
}

.home-image {
  align-content: center;
  margin-right: 75px;
	margin-left: 75px;
	margin-top: 20px;
	/* background-color: white; */
	padding-right: 10px;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-radius: 10px;
	background: #000000; /* fallback for old browsers */
}

.homesection {
  margin: auto;
  align-content: center;
  text-align: center;
  width: 400px;
    padding: 20px;
    overflow: hidden;

}

.homesection img {
  margin: auto;
    float: center;
}

.homesection span {
  margin-left: 30px;
    display: block;
    margin: 2px 0 0 0;
}

.logForm {
  display: inline-block;
}

.log-box {
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  display: -webkit-box;
  display: -moz-grid-line;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  float: left;
  
}

.todo-box {
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  display: -webkit-box;
  display: -moz-grid-line;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  float: left;
}

.box {
  width: 300px;
  height: 300px;
  -webkit-box-shadow: 4px 5px 7px -2px rgba(0,0,0,0.57), 4px 5px 7px -2px rgba(0,0,0,0.57); 
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  padding: 10px;
}

.tbox {
  width: 300px;
  height: 300px;
  -webkit-box-shadow: 4px 5px 7px -2px rgba(0,0,0,0.57), 4px 5px 7px -2px rgba(0,0,0,0.57); 
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  padding: 10px;
}

.button {
  background-color: black;
  color: white;
  position: sticky;
}

.button:hover {
  color:lightblue;
}


.todoForm {
  display: inline-block;
}

form {
  display: table;
}
label {
  display: table;
}

input {
  display: table;
}

ul {
  list-style-type: none;
}

li {
  list-style-type:none;
  float: left;
  color: lightgray;
  padding-right: 15px;
}

.delete {
  color: crimson;
  background-color: black;
}
.delete:hover {
  color: red;
}